/*
    this is a default UI stylesheet.

    right now, this is a test stylesheet.
*/



* {
    color: white;
}

button {
    display: block;
    width: 100%;
    margin: 0px 1px;
    /*padding: 0px;*/
    background: rgba(64, 64, 64, 0.25);
    border: 1px rgba(0,0,0,0.1);
}
button:focus {
    background: rgba(64, 64, 64, 1.00);
}
button:active {
    color: black;
    /*background: rgb(192,128,128);*/
    background: hsla(200, 100%, 62.5%, 1.0); /* rgba(128,224,255,0.5); */
}
button:hover {
    background: rgba(64, 64, 64, 1.00); /* hsla(200, 100%, 62.5%, 1.0); /* rgb(64,192,255); */
}
button:active:hover {
    color: black;
    background: hsla(200, 100%, 62.5%, 1.0); /*rgb(128,224,255);*/
}
button:disabled {
    background-color: rgb(128,128,128);
    color: rgb(192,192,192);
    /*border-width: 1px;*/
    border-color: rgb(96,96,96);
    cursor: default;
}



button.dialog-close {
    margin: 2px 4px 2px 0px;
    padding: 2px;
    border: 1px rgba(0,0,0,0.4);
    display: inline;
    width: 20px;
    height: 20px;
    background: rgba(0,0,0,0.25) url('close.png');
}
button.dialog-close:hover {
    background-color: rgba(255,255,255,0.25);
}

dialog.framed > div.inside {
    margin: 0px;
    padding: 0px 0px 2px 0px;
}

div#tools {
    border: 1px black;
    margin: 1px 1px 2px 1px;
}



input.tool {
    margin: 0px;
    border-width: 0px;
    width: 100%;
    display: block;
    padding: 0px;
}
input.tool > img {
    display: none;
}
input.tool:hover {
    background: rgba(64, 64, 64, 1.00); /* hsla(200, 0%, 75%, 1.0); */
}
input.tool[checked] {
    background: hsla(200, 100%, 62.5%, 1.0);
}
input.tool:active {
    background: hsla(200, 100%, 62.5%, 0.5);
}
input.tool:active:hover {
    background: hsla(200, 100%, 62.5%, 0.75);
}
input.tool > label {
    margin: 0px;
    border: 0px;
    border-radius: 0px;
    padding: 1px;
    width: 100%;
    /*height:20px;*/
    color: white;
}
input.tool[checked] label {
    color: black;
}
input.tool:active label {
    color: black;
}
input.tool > label > img {
    display: inline;
    border-radius: 0px;
    border:0px white;
    padding:0px;
    margin:0px;
    width:20px;
    height:20px;
}
input.tool > label > label {
    border: 0px;
    padding:2px 0px; margin:0px; margin-left: 4px;
}


input.symmetry-enable {
    width: 33.33%;
    overflow-x: hidden;
    white-space: nowrap;
}

input.symmetry-viz {
    margin: 0px;
    border: 0px black;
    width: 33.333%;
    /*width: 100%;*/
    /*display: block;*/
    padding: 4px 0px 4px 6px;
}
input.symmetry-viz > img {
    display: none;
}
input.symmetry-viz:hover {
    background: rgba(64, 64, 64, 1.00); /* hsla(200, 0%, 75%, 1.0); */
}
input.symmetry-viz[checked] {
    background: hsla(200, 100%, 62.5%, 1.0);
}
input.symmetry-viz:active {
    background: hsla(200, 100%, 62.5%, 0.5);
}
input.symmetry-viz:active:hover {
    background: hsla(200, 100%, 62.5%, 0.75);
}
input.symmetry-viz > label {
    margin: 0px;
    border: 0px;
    border-radius: 0px;
    padding: 0px;
    width: 100%;
    /*height:20px;*/
    color: white;
}
input.symmetry-viz[checked] label {
    color: black;
}
input.symmetry-viz:active label {
    color: black;
}



input[type="text"]:hover {
    color: black;
}
input[type="text"]:focus {
    color: black;
}
*.inputtext-cursor {
    color: black; /* hsla(200, 100%, 12.5%, 1.0); /* l=62.5% */
}

input[type="text"]:disabled {
    border-color: rgb(64,64,64);
    background-color: rgb(64, 64, 64);
    color: rgb(32,32,32);
    cursor: default;
}



div.collection {
    margin: 1px;
    border: 1px rgba(32,32,32,1.0);
    padding: 0px;
}

div.collection > div.header {
    background-color: rgba(32,32,32,1.0);
    display: block;
    width: 100%;
    padding: 2px;
    margin: 0px;
    border: 1px rgba(32,32,32,1.0);
    border-bottom-color: rgba(48, 48, 48, 1.0);
    border-radius: 0px;
}


div.collapsible {
    margin: 0px;
    border: 1px rgba(64,64,64,0.125);
    padding: 1px;
}
div.collapsible > input.header {
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
}
div.collapsible > input.header:hover {
    background: rgba(32, 32, 32, 1.00);
}
div.collapsible > input.header > img {
    margin: 2px 2px 0px 0px;
    padding: 0px;
    border: 0px;
    width: 18px;
    height: 18px;
}
div.collapsible > div.inside {
    border: 1px rgba(64,64,64,0.5);
    padding: 2px 2px 2px 8px;
    margin: 1px 0px 0px 0px;
}



*#merge-by-distance button {
    display: inline;
    width: 50%;
}

*#snap-verts button {
    display: inline;
    width: 50%;
}



dialog#maindialog {
    width: 175px;
    min-width: 50px;
    max-width: 500px;
    padding: 0px;
}
dialog#maindialog * {
    overflow-x: hidden;
}


dialog#tinydialog {
    width: 100px;
    min-width: 50px;
    max-width: 500px;
    padding: 0px;
}
dialog#tinydialog * {
    overflow-x: hidden;
}
dialog#tinydialog > div#ttools > * {
    display: inline;
    /*background: white;*/
}
dialog#tinydialog input[type="radio"] > img {
    display: none;
}


dialog#optionsdialog {
    width: 250px;
    min-width: 150px;
    max-width: 500px;
}


dialog#helpsystem {
    width: 60%;
    left: 20%;
    background: rgba(64,64,64,0.9);
}
dialog#helpsystem div#helpsystem-buttons {
    margin: 1px;
    width: 100%;
}
dialog#helpsystem div#helpsystem-buttons button {
    display: inline;
    width: 50%;
}


dialog.alertdialog {
    width: 60%;
    left: 20%;
}
dialog.alertdialog.note {
    background-color: rgba(50, 50, 76, 0.95);
}
dialog.alertdialog.warning {
    background-color: rgba(90, 64, 38, 0.95);
}
dialog.alertdialog.error {
    background-color: rgba(76, 38, 38, 0.95);
}
dialog.alertdialog.assert, dialog.alertdialog.exception {
    background-color: rgba(96, 0, 0, 0.95);
}
dialog.alertdialog div#alertdialog-buttons {
    margin: 1px;
    width: 100%;
}
dialog.alertdialog div#alertdialog-buttons button {
    display: inline;
    width: 50%;
}
dialog.alertdialog div#crashdetails pre {
    white-space: pre;
}

div.issue-checker button.action {
    display: inline;
    margin: 0px;
    width: 25%;
    white-space: pre;
}



