* {
    margin:     4 2;
    padding:    3;

    width:      auto;
    height:     auto;
    min-width:  0;
    min-height: 0;
    max-width:  auto;
    max-height: auto;

    background-color:   transparent;

    border-width:   1;
    border-color:   rgba(0, 0, 0, 0.75);
    border-radius:  5;
}

pad {
    margin: 5;
}

rule {
    border: 2 gray;
    background: rgba(128, 128, 128, 0.50);
}

vertical>element, element:hover {
    margin: 500;
}

vertical.blah {
    margin: 0;;
}

button {
    background-color: rgba(192, 192, 192, 0.75);
    border-width: 8;
    border-radius: 16;
    border-top-color: rgba(64, 64, 64, 0.75);
    border-right-color: rgba(128, 64, 64, 0.75);
    border-bottom-color: rgba(64, 128, 64, 0.75);
    border-left-color: rgba(64, 64, 128, 0.75);
}

button:hover {
    border-color: rgba(255, 128, 64, 1.0);
    border-width: 16;
}

button:active {
    border-width: 4;
    background: transparent;
}