:root {
    --button-background: hsla(200, 0%, 20%, 1.0);
    --button-hover-background: hsla(200, 0%, 50%, 0.50);
    --button-selected-background: rgb(10, 135, 197);

    --button-text: hsl(200, 0%, 90%);
    --button-selected-text: white;
    --button-disabled-text: hsl(200, 0%, 50%);

    --option-background: transparent;
    --option-hover-background: hsla(200, 0%, 50%, 0.25);
    --option-selected-background: rgb(10, 135, 197);

    --option-text: hsl(200, 0%, 90%);
    --option-selected-text: white;
    --option-disabled-text: hsl(200, 0%, 50%);

    --header-background: hsla(200, 0%, 5%, 1);
    --panel-background: hsla(200, 0%, 15%, 0.98);
    --panel-two-background: hsla(200, 0%, 5%, 0.4);
    --collection: hsla(200, 0%, 5%, 0);

    --text: rgb(221, 221, 221);

    --alert-note: rgba(34, 34, 34, 0.99);
    --alert-warning: rgba(128, 72, 8, 0.95);
}

* {
    color: var(--text);
    border: 0px;
    background: transparent;
    font-size: 11px;
}

/********************************/
/* GENERAL ELEMENT STYLING      */

*.half-size {
    display: inline;
    width: 50%;
    text-align: center;
}

*.third-size {
    display: inline;
    width: 33.333%;
    text-align: center;
}

label {
    display: block;
    width: 100%;
}

/********************************/
/* GENERAL BUTTON STYLING       */

button {
    display: block;
    width: 100%;
    margin: 2px;
    border: 0px;
    background: var(--button-background);
    color: var(--text);
    text-align: center;
}
button:focus {
    background: var(--button-hover-background);
}
button:active {
    background: var(--button-selected-background);
}
button:hover {
    background: var(--button-hover-background);
}
button:active:hover {
    background: var(--button-selected-background);
}
button:disabled {
    background-color: var(--button-background);
    color: var(--button-disabled-text);
}



/********************************/
/* radio input                  */
/********************************/


input[type="radio"] {
    display: none;
}
input[type="radio"]::marker {
    display: none;
}

label[type="radio"] {
    background: var(--button-background);
    color: var(--option-text);
    margin: 2px;
    border: 0px;
    padding: 4px 6px 4px 6px;
}
label[type="radio"]:hover {
    background: var(--button-hover-background);
}
label[type="radio"]:checked {
    background: var(--button-selected-background);
    color: var(--option-selected-text);
}
label[type="radio"]:active {
    background: var(--button-selected-background);
}
label[type="radio"]:active:hover {
    background: var(--button-selected-background);
}
label[type="radio"]:disabled {
    background-color: var(--button-background);
    color: var(--option-disabled-text);
}



/**********************/
/* checkbox input     */
/**********************/


label[type="checkbox"] {
    background: var(--option-background);
    color: var(--option-text);
    margin: 2px 2px;
    border: 0px;
    padding: 4px 2px;
}
label[type="checkbox"]:hover {
    background: var(--option-hover-background);
}
label[type="checkbox"]:active {
    background: var(--option-hover-background);
}
input[type="checkbox"]::marker {
    background: var(--button-background);
    margin: 0px 6px 1px 2px;
    border: 0px;
    padding: 2px;
    width: 20px;
    height: 14px;
}
label[type="checkbox"]:hover input[type="checkbox"]::marker {
    background-color: var(--button-hover-background);
}
label[type="checkbox"]:hover input[type="checkbox"]:checked::marker {
    background-color: var(--button-selected-background);
}
input[type="checkbox"]:checked::marker {
    background-color: var(--button-selected-background);
    background-image: url('checkmark.png');
}
label[type="checkbox"]:active:hover input[type="checkbox"]::marker {
    background-color: var(--button-selected-background);
}

label > span {
    margin: 0px;
    border: 0px;
    padding: 0px;
}




/********************************/
/* range input                  */
/********************************/

div.inputrange-container {
    margin: 4px;
    padding: 0px;
    height: 30px;
    background: transparent;
}

input[type="range"] {
    margin: 0px;
    padding: 0px;
    background: transparent;
}

input[type="range"] > *.inputrange-left {
    background-color: var(--option-selected-background);
    border: 0px;
    top: -6px;
}
input[type="range"] > *.inputrange-right {
    background-color: var(--option-background);
    border: 0px;
    top: -6px;
}
input[type="range"]:active > *.inputrange-left {
    background-color: hsla(200, 100%, 62.5%, 1.0);
}
input[type="range"] > *.inputrange-handle {
    left: 0px;
    top: 0px;
    width: 16px;
    height: 16px;
    background-color: hsl(200, 0%, 60%);
}




/**************************/
/* details                */
/**************************/

details {
    background: var(--option-background);
    display: block;
    width: 100%;
    margin: 2px;
    border: 0px;
    padding: 0px;
}

summary {
    display: block;
    width: 100%;
    height: 24px;
    background: transparent;
    margin: 0px;
    border: 0px;
    padding: 4px 6px;
}
summary:hover {
    background: var(--option-hover-background);
}
summary::marker {
    display: inline;
    margin: 4px 8px 2px 0px;
    border: 0px;
    padding: 0px;
    width: 16px;
    height: 14px;
    background: transparent url('collapse_close.png');
}
details[open] > summary::marker {
    background: transparent url('collapse_open.png');
}


details > div.contents {
    /*display: none;*/
    border: 0px;
    border-color: transparent;
    background: var(--panel-two-background);
    padding: 4px 4px 4px 4px;
    margin: 0px 0px 0px 0px;
}
/*details[open] > div.inside {
    display: block;
}*/



/********************************/
/* GENERAL DIALOG STYLING       */
/********************************/

dialog {
    border-radius: 4px;
    border: 0px;
    background: var(--panel-background);
    color: var(--text);
}
dialog.framed {
    border: 1.5px var(--header-background);
    border-radius: 4px;
    padding: 0px;
    margin: 4px;
}
div.dialog-header {
    background: var(--header-background);
    margin: 0px;
    padding: 4px;
    border: 0px;
    border-radius: 0px;
}
span.dialog-title {
    display: inline;
    margin: 0px;
    padding: 0px;
    margin-left: 8px;
    color: var(--text);
    font-size: 12;
}
button.dialog-close {
    display: inline;
    padding: 3px;
    border: 0px;
    width: 16px;
    height: 16px;
    background: transparent url('close.png');
}
button.dialog-close:hover {
    background-color: rgba(255,255,255,0.25);
}
dialog.framed > div.inside {
    margin: 0px;
    padding: 4px;
    border: 0px;
}
div.dialog-footer {
    right: 50px;
    top: -200px;
    width: 100%;
    /*bottom: 0px;*/
    background: rgba(255, 238, 0, 0.75);
    margin: 0px;
    padding: 2px;
    border: 1px rgba(0,0,0,1) rgba(0,0,0,0.25) rgba(0,0,0,0.25) rgba(0,0,0,0.25);
    border-radius: 0px;
}



/****************************/
/* collections              */
/****************************/

div.collection {
    margin: 6px 0px 6px 0px;
    border: 0px;
    padding: 0px;
    background: var(--collection);
}

div.collection > h1 {
    color: var(--text);
    background-color: transparent;
    display: block;
    width: 100%;
    margin: 0px 0px 4px 0px;
    border: 1px transparent;
    border-bottom-color: rgba(0, 0, 0, 0.20);
    border-radius: 0px;
    padding: 2px 6px 2px 6px;
}

div.collection > div.contents {
    margin:0px;
    border: 0px;
    padding: 0px;
}

div.collection > div#fpsdiv {
    margin: 4px;
}



/********************************/
/* LOADING DIALOG STYLING       */
/********************************/

dialog#loadingdialog {
    width: 40%;
    left: 30%;
    top: -40%;
    z-index: 10000;
}


/********************************/
/* MAIN TOOLS STYLING           */
/********************************/

dialog#maindialog {
    width: 150px;
    min-width: 50px;
    max-width: 500px;
    padding: 0px;
}
dialog#maindialog * {
    overflow-x: hidden;
}

div#tools {
    margin: 0px;
    border: 0px;
    padding: 0px;
}
label.tool {
    background: var(--option-background);
    margin: 1px 0px;
    border: 0px;
    padding: 2px 2px;
}
label.tool:hover {
    background: var(--option-hover-background);
}
label.tool:hover:checked {
    background: var(--option-selected-background);
}
label.tool:checked {
    background: var(--option-selected-background);
}
label.tool > img {
    display: inline;
    width: 32px;
    height: 32px;
    margin: 0px;
    border: 0px;
    padding: 0px;
}
label.tool > span {
    display: inline;
    margin: 8px 4px; /*7px 4px;*/
    border: 0px;
    padding: 0px;
    align-items: center;
    align-content: center;
}




/********************************/
/*                              */
/********************************/



label.symmetry-enable {
    display: inline;
    width: 33.333%;
    overflow-x: hidden;
    white-space: nowrap;
    padding-left: 14px;
}


/********************************/
/* TEXT INPUT STYLING           */
/********************************/

input[type="text"] {
    color: var(--text);
    background: var(--button-background);
    padding: 4px 0px 0px 8px;
    height: 24px;
}

*.labeledinputtext-container {
    padding-left: 4px;
}

input[type="text"]:hover {
    color: var(--text);
    background: var(--button-hover-background);
}

input[type="text"]:focus {
    color: var(--text);
    background: var(--button-selected-background);
}

input[type="text"]:disabled {
    background-color: var(--button-background);
    color: var(--button-disabled-text);
    cursor: default;
}



div.labeled-input-text label {
    display: inline;
    text-align: left;
    margin: 4px 0px 0px 4px;
    padding: 0px;
    width: 50%;
}
div.labeled-input-text input[type="text"] {
    display: inline;
    width: 50%;
    background: var(--button-background);
    color: var(--text);
}
div.labeled-input-text input[type="text"]:hover {
    background: var(--button-hover-background);
    color: var(--text);
}
div.labeled-input-text input[type="text"]:focus {
    background: var(--button-selected-background);
    color: var(--text);
}
div.labeled-input-text input[type="text"]:disabled {
    background: var(--button-background);
    color: var(--button-disabled-text);
}


input[type="text"] *.inputtext-cursor {
    color: var(--text);
}


/***************************************************/
/* tiny ui window                                  */
/***************************************************/

dialog#tinydialog {
    width: 370px;
    min-width: 50px;
    max-width: 500px;
    padding: 0px;
}
dialog#tinydialog * {
    overflow-x: hidden;
}
dialog#tinydialog span.dialog-title {
    padding: 0px 2px;
    margin-left: -2px;
    font-size: 9pt;
    height: 12px;
}
div#ttools > * {
    display: inline;
}


dialog#tinydialog div#ttools {
    margin: 0px;
}
label.ttool {
    background: var(--option-background);
    display: inline;
    margin: 0px 2px 0px 2px;
    border: 0px;
    padding: 2px;
    width: 40px;
}
label.ttool:hover {
    background: var(--option-hover-background);
}
label.ttool:hover:checked {
    background: var(--option-selected-background);
}
label.ttool:checked {
    background: var(--option-selected-background);
}
label.ttool > img {
    display: inline;
    margin:0px;
    border:0px;
    padding:0px;
    width:32px;
    height:32px;
}

dialog#tinydialog div#ttools button.dialog-expand {
    display: inline;
    padding: 12px 4px 16px 4px;
    border: 0px;
    width: 20px;
    height: 40px;
    background: rgba(0,0,0,0) url('collapse_close.png');
}




/***************************************************/
/* options window                                  */
/***************************************************/

dialog#optionsdialog {
    width: 225px;
    min-width: 150px;
    max-width: 500px;
}


/***************************************************/
/* help window                                     */
/***************************************************/

dialog#helpsystem {
    width: 60%;
    left: 20%;
    background: hsla(200, 0%, 10%, 0.98);
}
dialog#helpsystem div#helpsystem-buttons {
    margin: 4px;
    width: 100%;
}
dialog#helpsystem div#helpsystem-buttons button {
    display: inline;
    width: 33%;
    text-align: center;
}



/***************************************************/
/* alert window                                    */
/***************************************************/


dialog.alertdialog {
    width: 600px;
    left: 20%;
}
dialog.alertdialog div.alertdialog-buttons {
    margin: 1px;
    width: 100%;
}
dialog.alertdialog div.alertdialog-buttons button {
    display: inline;
    width: 50%;
}
dialog.alertdialog div.action-buttons button {
    margin: 1px;
}

dialog.alertdialog.note {
    background-color: var(--alert-note);
}


dialog.alertdialog.warning {
    /*background-color: rgba(90, 64, 38, 0.95);*/
    background-color: var(--alert-warning);
}
dialog.alertdialog.warning div#alertdialog-buttons {
    background-color: rgba(64, 36, 4, 1.0);
}
dialog.alertdialog.warning div#alertdialog-buttons button {
    background-color: rgba(128, 72, 8, 1.0);
}
dialog.alertdialog.warning div#alertdialog-buttons button:hover {
    /*background: rgba(64, 64, 64, 1.00);  hsla(200, 100%, 62.5%, 1.0); /* rgb(64,192,255); */
    background-color: rgba(128, 96, 32, 1.0);
}


dialog.alertdialog.error {
    width: 60%;
    background-color: rgba(76, 38, 38, 0.95);
}
dialog.alertdialog.error div#alertdialog-buttons {
    background-color: rgb(26, 26, 26);
}
dialog.alertdialog.error div#alertdialog-buttons button {
    background-color: rgb(128, 8, 8);
}
dialog.alertdialog.error div#alertdialog-buttons button:hover {
    /*background: rgba(64, 64, 64, 1.00);  hsla(200, 100%, 62.5%, 1.0); /* rgb(64,192,255); */
    background-color: rgb(139, 35, 35);
}


dialog.alertdialog.assert, dialog.alertdialog.exception {
    width: 60%;
    background-color: rgba(96, 0, 0, 0.95);
}
dialog.alertdialog div#crashdetails pre {
    white-space: pre;
}

div.issue-checker button.action {
    display: inline;
    margin: 0px;
    width: 25%;
    white-space: pre;
}



/***************************************************/
/* geometry window                                 */
/***************************************************/

dialog#geometrydialog {
    right: 0px;
    bottom: 0px;
    width: 120px;
    min-width: 120px;
    max-width: 120px;
}

dialog#geometrydialog table {
    border: 0px transparent;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
}
dialog#geometrydialog tr {
    margin: 0px;
    border-width: 0px;
    padding: 0px;
}
dialog#geometrydialog td {
    margin: 0px;
    border-width: 0px;
    padding: 0px;
}
dialog#geometrydialog table div {
    border: 0px transparent;
    background-color: transparent;
    width: auto;
    margin: 1px;
    padding: 1px;
}

/***************************************************/
/* markdown                                        */
/***************************************************/

article.mdown h1 {
    width: 100%;
    padding: 4px;
}
article.mdown h1> span {
    font-size: 18px;
}
article.mdown h1 img {
    width:32px;
    height:32px;
    padding:0px
}
article.mdown h2 {
    width: 100%;
    padding: 4px;
}
article.mdown h2> span {
    font-size: 14px;
}
article.mdown h3 {
    width: 100%;
    padding: 4px;
}
article.mdown h3> span {
    font-size: 12px;
    color: rgba(192, 192, 192, 1.0);
}

article.mdown p {
    text-align: justify;
    padding-left: 16px;
}
article.mdown ul {
    padding-left: 16px;
}
article.mdown ul > li > span > p {
    padding: 0px;
    margin: 0px;
}
article.mdown ul > li > span > ul {
    padding: 0px;
    margin: 0px;
}
article.mdown a {
    padding: 0px 0px 0px 0px;
    margin: 0px;
    background-color: transparent;
    border: 1px transparent;
    border-bottom-color: var(--text);
    cursor: default;
    color: var(--text);
}
article.mdown a:hover {
    color: white;
    border-bottom-color: white;
    cursor: default;
}

article.mdown img {
    border-radius: 4px;
}

article.mdown pre {
    font-family: monospace;
    white-space: pre;
    margin: 0px;
    padding: 0px 4px;
    background-color: var(--header-background);
}

article.mdown code {
    font-family: monospace;
    white-space: pre;
    margin: 0px;
    padding: 0px 4px;
    background-color: var(--header-background);
}

article.mdown span.html-arrow {
    font-weight: normal;
}

/***************************************************/
/* pie menu                                        */
/***************************************************/

div#pie-menu {
    display: none;
    position: fixed;
    left: 0px;
    top: 0%;
    width: 100%;
    height: 100%;
    /*background-color: rgba(64, 0, 0, 0.2);*/
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    border: 0px;
    z-index: 10000;
}

table#pie-menu-table {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgba(0,0,0,0.15); /* transparent;*/
    margin: 0px;
    padding: 100px;
    border: 0px rgba(0, 0, 0, 0.25);
    border-radius: 250px;
}
table#pie-menu-table tr {
    margin: 0px;
    padding: 0px;
    border: 0px transparent;
}
table#pie-menu-table td {
    margin:  0px;
    padding: 0px;
    border:  0px transparent;
    width:   134; /* pie-menu-option: 100+16+16+1+1+8+8; */
    height:  134; /* pie-menu-option: 100+16+16+1+1+8+?; */
}
div.pie-menu-option {
    width: 100px;
    height: 100px;
    background-color: rgba(64, 64, 64, 0.975);
    margin: 16px;
    padding-top: 8px;
    border: 1px rgba(0, 0, 0, 0.95);
    border-radius: 5px;
}
table#pie-menu-table div.pie-menu-option-text {
    color: var(--text);
    text-align: center;
}
table#pie-menu-table img.pie-menu-option-image {
    display: block;
    width: 64px;
    height: 20px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: transparent;
}
table#pie-menu-table div.pie-menu-option.highlighted {
    background-color: var(--button-selected-background);
}
table#pie-menu-table td.highlighted div.pie-menu-option-text {
    color: white;
}
div.pie-menu-option:hover {
    background-color: var(--button-selected-background);
}
div.pie-menu-option:hover div.pie-menu-option-text {
    color: white;
}
table#pie-menu-table div#pie-menu-middlecenter {
    background-color: rgba(0, 0, 0, 0.15);
    border: 1px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
}


/***************************************************/
/* tooltip                                         */
/***************************************************/

dialog.tooltip {
    border: 1px black;
    background: hsla(0, 0%, 9%, 0.99); /*rgba(32,32,32,0.8);*/
    color: white;
    margin: 2px;
    padding: 4px;
}


/***************************************************/
/* delete dialog                                   */
/***************************************************/

dialog#deletedialog div.collection {
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
}
dialog#deletedialog div.collection > h1 {
    padding-top: 2px;
}